{% load static %}
 <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>InnovationHub</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
         Designed by <a href="https://innovationhubkenya.com/">InnovationHub</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{%  static 'mtn/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{%  static 'mtn/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{%  static 'mtn/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{%  static 'mtn/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{%  static 'mtn/vendor/quill/quill.min.js' %}"></script>
  <script src="{%  static 'mtn/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{%  static 'mtn/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{%  static 'mtn/js/main.js' %}"></script>
